<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asluax.lease.web.app.mapper.ApartmentInfoMapper">
    <resultMap id="ApartmentDetailVo" type="com.asluax.lease.web.app.vo.apartment.ApartmentDetailVo" autoMapping="true">
        <collection property="graphVoList" ofType="com.asluax.lease.web.app.vo.graph.GraphVo" autoMapping="true">
            <result property="name" column="gname"/>
            <result property="url" column="gurl"/>
        </collection>
        <collection property="labelInfoList" ofType="com.asluax.lease.model.entity.LabelInfo" autoMapping="true">
            <id property="id" column="lid"/>
            <result property="type" column="ltype"/>
            <result property="name" column="lname"/>
        </collection>
        <collection property="facilityInfoList" ofType="com.asluax.lease.model.entity.FacilityInfo" autoMapping="true">
            <id property="id" column="fid"/>
            <result property="type" column="ftype"/>
            <result property="name" column="fname"/>
            <result property="icon" column="ficon"/>
        </collection>
    </resultMap>

    <select id="getDetailById" resultMap="ApartmentDetailVo">
        SELECT
            ai.*,
            gi.name AS gname,
            gi.url AS gurl,
            li.type AS ltype,
            li.name AS lname,
            li.id AS lid,
            fi.type AS ftype,
            fi.name AS fname,
            fi.icon AS ficon,
            fi.id AS fid,
            r.min_rent,
            IF(ai.is_deleted = 0, TRUE, FALSE) AS is_delete
        FROM apartment_info ai
                 LEFT JOIN graph_info gi ON gi.item_type = 1 AND gi.item_id = ai.id AND gi.is_deleted = 0
                 LEFT JOIN apartment_label al ON al.apartment_id = ai.id AND al.is_deleted = 0
                 LEFT JOIN label_info li ON li.id = al.label_id AND li.is_deleted = 0
                 LEFT JOIN apartment_facility af ON af.apartment_id = ai.id AND af.is_deleted = 0
                 LEFT JOIN facility_info fi ON fi.id = af.facility_id
                 LEFT JOIN (
            SELECT apartment_id, MIN(rent) AS min_rent
            FROM room_info
            WHERE is_deleted = 0
            GROUP BY apartment_id
        ) r ON r.apartment_id = ai.id
        WHERE ai.id = #{id}
    </select>
</mapper>
