<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asluax.lease.web.admin.mapper.SystemUserMapper">

    <select id="getSystemUserItemVoPage" resultType="com.asluax.lease.web.admin.vo.system.user.SystemUserItemVo">
        select *
        from
            system_user
            left join
            (select id pid, name postname from system_post) as sp
            on post_id = pid
        <where>
            is_deleted = 0
            <if test="queryVo.name != null and queryVo.name !=''">
                and name like "%"#{queryVo.name}"%"
            </if>
            <if test="queryVo.phone =null and queryVo.phone !=''">
                and phone like "%"#{queryVo.phone}"%"
            </if>
        </where>
    </select>
</mapper>
